<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="public/js/init.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>


<footer class="page-footer" style="background-color: #000;">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Welcome to Big White Marine Services</h5>
          <p class="grey-text text-lighten-4">We are dedicated to providing profesional and quality marine services at an affordable cost that can get you back on the water as quick as possible.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Quick Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Our Services</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Portfolio </a></li>
            <li><a class="grey-text text-lighten-3" href="#!">About Us</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Contact Us</a></li>
          </ul>
        </div>

            <a href="https://facebook.com/bigwhitemarine" target="_blank" class="btn-floating btn-large waves-effect horizon-blue" style="width: 50px; height: 50px;"><h2 style="font-size:35px; padding-top:6px; padding-right:1.5px;"><ion-icon name="logo-facebook"></ion-icon></h2></a>
      
                <a href="tel:+18432249007‬" target="_blank" class="btn-floating btn-large waves-effect horizon-blue" style="width: 50px; height: 50px;"> <h2 style="font-size:35px; padding-top:8px; padding-left:1.5px;"><ion-icon name="call"></ion-icon></h2></a>
                <a href="https://www.google.com/maps/place/William's+Knife+Co/@32.7641167,-80.1037557,18.59z/data=!4m13!1m7!3m6!1s0x88fe80a60f76504b:0xbcb076d6a0a9fdde!2sKitford+Rd,+Johns+Island,+SC+29455!3b1!8m2!3d32.763662!4d-80.102211!3m4!1s0x88fe80a677415b01:0xaff12faf66c66a1b!8m2!3d32.7634968!4d-80.1034923" target="_blank" class="btn-floating btn-large waves-effect horizon-blue" style="width: 50px; height: 50px;"><h2 style="font-size:35px; padding-top:8px; padding-left:.75px;"><ion-icon name="home"></ion-icon></h2></a>

                <div class="footer-copyright" style="padding-top:3em; margin-bottom:-215px;">
              
                  © 2020 Copyright Big White Marine Services LLC.  
                </div>
</footer>
   
