<nav>
    <div class="container-wide">
        <div class="row">
            <div class="col s12 m3"><a href="/" class="logo">
                    <?xml version="1.0" encoding="utf-8"?>
                    <!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                    <ul>
                        <li><a href="/" style="font-size: large; font-weight: 600;">Big White</a></li>
                    </ul>
                </a></div>
            <div class="col s12 m9">
                <div class="right">
                    <ul>
                        <li><a href="/#features">Portfolio</a></li>
                        <li><a href="/team">Our Team</a></li>
                        <li><a href="/contact" class="btn nav-sign-up">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>