<!DOCTYPE html>
<html>
<%- include('partials/header'); %>
<%- include('partials/navigation'); %>

<body>
    <div id="intro-container" style="margin-bottom:20px; height:20em; background-image:url(public/images/landing1.jpg)">
        <div class="container" style="margin-top: -5px !important;">
            <p style="text-align: center; font-size: 4em; padding-top:1.5em;position: absolute; width: 65%;">About Us</p>
            <div class="row center" style="padding-top:18em;">
            </div>
           </div>
    </div>

    <div class="container" style="padding-left: 5%; margin-top: 3.5em;">

    <div class="row" style="margin-top: 4em; margin-bottom: 5em;">
        <div class="col s12 m6">
            <img src="public/images/jay.jpg" style="height: 550px; object-fit:cover; margin-top: 2em; border-radius: 1em; margin-left:-3em; ">
        </div>
        <div class="col s12 m6">
            <h3>Jay Swain</h3>
            <h5 style="color: #0D7CB3; font-size:1.5em;"> Hello, my name is James Swain. I have been in the marine industry for over forty years, and have worked on and serviced boats from the Bahamas to all the way up in Wilmington, NC. I have experince on boats ranging from 13'ft john boats all the up to 80ft hatteras'. Give me a call today, and I will ensure that we get you back on the water quickly, and for an inexpensive price. </h5>
            
            <hr><h5>
                <blockquote><i> Owner of Big White Marine Services LLC. </i></blockquote>
            </h5> 
            <h5>
                <blockquote><i> U.S.C.G 200-TON Licensed Captain </i></blockquote>
            </h5> 
            <h5>
                <blockquote><i>Certified Yamaha Techinican</i></blockquote>
            </h5>
            <h5>
                <blockquote>Over 40 years of Experince </i></blockquote>
            </h5>
    

        </div>
    </div>
    </div>

      
</body>
<%- include('partials/footer'); %>

</html>