<!DOCTYPE html>
<html>
<%- include('partials/header'); %>
<%- include('partials/navigation'); %>

<body>
    <div id="intro-container" style="margin-bottom:20px; background-image:url(public/images/main_background_boats.jpg)">
        <div class="container" style="margin-top: -5px !important;">
            <p style="text-align: center; font-size: 5em; margin-top:2em;position: absolute; width: 65%;">Welcome to Big White Marine Services!</p>
          
            <div class="row center" >
                <a href="quote" id="download-button" class="btn-large waves-effect waves-light horizon-blue">GET A QUOTE</a>
                <a href="contact" id="download-button" class="btn-large waves-effect waves-light white black-text" style="margin-left: 40px;">Contact Us</a>
            </div>
           </div>
    </div>

        <div class="container">
          <div class="section">
              <h1>Welcome to Big White Marine Services.</h1>
              <p>Below are a couple of the amazing quality services we offer:            </p>
             
              <hr>

              <div class="row">
                  <div class="col s12 m4">
                      <div class="card">
                          <div class="card-image">
                              <img src="public/images/morning.JPG" style="height: 200px; object-fit:cover;">
                              <span class="card-title"><strong>Sunset Cruises</strong></span>
                          </div>
                          <div class="card-content">
                              <p>Come experience the true beauty and tranquility of Charleston harbor at night.  Enjoy a glass of wine or sparkling water under the stars. We offer beautiful Sunset cruises all year long.                                </p>
                          </div>
                      </div>
                  </div>
  
                  <div class="col s12 m4">
                      <div class="card">
                          <div class="card-image">
                              <img src="public/images/chad.JPG" style="height: 200px; object-fit:cover;">
                              <span class="card-title"><strong>Social Gatherings</strong></span>
                          </div>
                          <div class="card-content">
                              <p>Plan you next birthday party, bachelor / bachelorette party or memorable social event aboard Blue Horizons and enjoy a unique cruise through Charleston harbor or travel to one of our select hotel partners along the east coast.</p>
                          </div>
                      </div>
                  </div>
  
                  <div class="col s12 m4">
                      <div class="card">
                          <div class="card-image">
                              <img src="public/images/IMG_7701.jpeg" style="height: 200px; object-fit:cover;">
                              <span class="card-title"><strong>Corporate Events</strong></span>
                          </div>
                          <div class="card-content">
                              <p>Blue Horizons specializes in hosting business functions, investor presentations, board meetings, and corporate events.  Host up to forty people on our spacious skydeck or in our formal salon fully equipped with video conferencing.
  
                                  </p>
                          </div>
                      </div>
                  </div>
              </div>
  
              <div class="row">
                  <div class="col s12 m4">
                      <div class="card">
                          <div class="card-image">
                              <img src="public/images/catering.jpeg" style="height: 200px; object-fit:cover;">
                              <span class="card-title"><strong>Dinner on the Water</strong></span>
                          </div>
                          <div class="card-content">
                              <p>Plan a memorable dinner event with friends and family aboard Blue Horizons.  Blue Horizons will offer you customized private catering with full food and bar service on the skybridge and in the salon.
                                  </p>
                          </div>
                      </div>
                  </div>
  
                  <div class="col s12 m4">
                      <div class="card">
                          <div class="card-image">
                              <img src="public/images/history.jpg" style="height: 200px; object-fit:cover;">
                              <span class="card-title"><strong>Historic Sightseeing </strong></span>
                          </div>
                          <div class="card-content">
                              <p>Enjoy a historic tour of Downtown Charleston on the water.  See Fort Sumter, the Downtown Battery, Rainbow Row and the historic waterfront homes from the unique perspective of the harbor.
                                  </p>
                          </div>
                      </div>
                  </div>
  
                  <div class="col s12 m4">
                      <div class="card">
                          <div class="card-image">
                              <img src="public/images/sunset.jpeg" style="height: 200px; object-fit:cover;">
                              <span class="card-title"><strong>Intimate Events</strong></span>
                          </div>
                          <div class="card-content">
                              <p>Enjoy your anniversary, family reunion, wedding rehearsal and many other intimate events overlooking Charleston’s beautiful harbor.  Photography, live music and catering services may be accommodated.</p>
                          </div>
                      </div>
                  </div>
              </div>
  
  
          </div>
      </div>
              
        </div>
      </div>
            

                    
                
                
</body>
<%- include('partials/footer'); %>

</html>