<!DOCTYPE html>
<html>
<%- include('partials/header'); %>
<%- include('partials/navigation'); %>

<body>
    <div id="intro-container" style="margin-bottom:20px; height:35em; background-image:url(public/images/main_background_boats.jpg)">
        <div class="container" style="margin-top: -5px !important;">
            <p style="text-align: center; font-size: 4em; padding-top:1.5em;position: absolute; width: 65%;">Affordable Quality Marine Services</p>
            <div class="row center" style="padding-top:18em;">
                <a href="quote" id="download-button" class="btn-large waves-effect waves-light bigwhite-blue">GET A QUOTE</a>
                <a href="contact" id="download-button" class="btn-large waves-effect waves-light white white-text" style="margin-left: 40px;">Contact Us</a>
            </div>
           </div>
    </div>

    <div class="container" style="padding-top:2em;">
              <h3>Welcome to Big White Marine Services:</h3>
              <h4>We are dedicated to providing profesional and quality marine services at an affordable cost that can get you back on the water as quick as possible. </h3>
              <hr>

              <div class="row">
                  <div class="col s12 m4">
                      <div class="card" style="border-style: solid; border-color: #2A419C;">
                          <div class="card-image">
                              <img src="public/images/fiberglass.jpg" style="height: 200px; object-fit:cover;">
                              <span class="card-title"><strong>Fiberglass Repairs</strong></span>
                          </div>
                          <div class="card-content">
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec ante convallis, ornare metus pulvinar, congue est. Suspendisse eget faucibus nisl. Sed mollis nec nisl ac euismod. Nulla ac ipsum non lacus tempor dignissim. Curabitur ut porta lectus. Mauris auctor sed dui sit amet tincidunt.                               </p>
                          </div>
                      </div>
                  </div>
  
                  <div class="col s12 m4">
                      <div class="card">
                          <div class="card-image">
                              <img src="public/images/electronics.JPG" style="height: 200px; object-fit:cover;">
                              <span class="card-title"><strong>Electronics</strong></span>
                          </div>
                          <div class="card-content">
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec ante convallis, ornare metus pulvinar, congue est. Suspendisse eget faucibus nisl. Sed mollis nec nisl ac euismod. Nulla ac ipsum non lacus tempor dignissim. Curabitur ut porta lectus. Mauris auctor sed dui sit amet tincidunt. .</p>
                          </div>
                      </div>
                  </div>
  
                  <div class="col s12 m4">
                    <div class="card" style="border-style: solid; border-color: #2A419C;">
                          <div class="card-image">
                              <img src="public/images/yamaha.JPG" style="height: 200px; object-fit:cover;">
                              <span class="card-title"><strong>Engine Repairs</strong></span>
                          </div>
                          <div class="card-content">
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec ante convallis, ornare metus pulvinar, congue est. Suspendisse eget faucibus nisl. Sed mollis nec nisl ac euismod. Nulla ac ipsum non lacus tempor dignissim. Curabitur ut porta lectus. Mauris auctor sed dui sit amet tincidunt. 
  
                                  </p>
                          </div>
                      </div>
                  </div>
              </div>
  
              <div class="row">
                  <div class="col s12 m4">
                    <div class="card" style="border-style: solid; border-color: #2A419C;">
                          <div class="card-image">
                              <img src="public/images/paint.jpg" style="height: 200px; object-fit:cover;">
                              <span class="card-title"><strong>Gelcoat and Painting</strong></span>
                          </div>
                          <div class="card-content">
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec ante convallis, ornare metus pulvinar, congue est. Suspendisse eget faucibus nisl. Sed mollis nec nisl ac euismod. Nulla ac ipsum non lacus tempor dignissim. Curabitur ut porta lectus. Mauris auctor sed dui sit amet tincidunt. 
                                  </p>
                          </div>
                      </div>
                  </div>
  
                  <div class="col s12 m4">
                    <div class="card">
                          <div class="card-image">
                              <img src="public/images/buff.jpg" style="height: 200px; object-fit:cover;">
                              <span class="card-title"><strong>Detailing </strong></span>
                          </div>
                          <div class="card-content">
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec ante convallis, ornare metus pulvinar, congue est. Suspendisse eget faucibus nisl. Sed mollis nec nisl ac euismod. Nulla ac ipsum non lacus tempor dignissim. Curabitur ut porta lectus. Mauris auctor sed dui sit amet tincidunt. 
                                  </p>
                          </div>
                      </div>
                  </div>
  
                  <div class="col s12 m4">
                    <div class="card" style="border-style: solid; border-color: #2A419C;">
                          <div class="card-image">
                              <img src="public/images/engine.png" style="height: 200px; object-fit:cover;">
                              <span class="card-title"><strong>Diesel Repairs</strong></span>
                          </div>
                          <div class="card-content">
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec ante convallis, ornare metus pulvinar, congue est. Suspendisse eget faucibus nisl. Sed mollis nec nisl ac euismod. Nulla ac ipsum non lacus tempor dignissim. Curabitur ut porta lectus. Mauris auctor sed dui sit amet tincidunt. </p>
                          </div>
                      </div>
                  </div>
              </div>
  
  
          </div>
      </div>

      <a class="btn-floating pulse"><i class="material-icons">menu</i></a>
<a class="btn-floating btn-large pulse"><i class="material-icons">cloud</i></a>
<a class="btn-floating btn-large cyan pulse"><i class="material-icons">edit</i></a>

        </div>
      </div>
            

                    
                
                
</body>
<%- include('partials/footer'); %>

</html>