<!DOCTYPE html>
<html>
<%- include('partials/header'); %>
<%- include('partials/navigation'); %>

<body>
      <div id="intro-container" style=" height:35em; background-image:url(public/images/wood_bow.jpg)">
        <div class="container">
            <h3 style="text-align: center; font-size:50px;color: #fff; padding-top:210px; padding-bottom:20px;">Welcome to IslandShine Aqua Woodworking Company</h3>
                <div class="row center" >
                    <a href="services" id="download-button" class="btn-large waves-effect waves-light horizon-blue">Our Services</a>
                    <a href="contact" id="download-button" class="btn-large waves-effect waves-light white white-text" style="margin-left: 40px;">Contact Us</a>
                </div>
           </div>
    </div>
    

      <div class="container" style="padding-top:2em;">
              <h3 style="text-align: center;">Welcome to IslandShine Aqua Marine </h3>
              <h5 style="text-align: center;">We are dedicated team of profesionals that seek to provide quality woodwork and fiberglass repair to get your boat looking shiny and ready to get back on the water. </h5>
              <hr>

              <div class="row">
                  <div class="col s12 m4">
                      <div class="card" style="border-style: solid; border-color: #0D7CB3;">
                          <div class="card-image">
                              <img src="public/images/fiberglass.jpg" style="height: 200px; object-fit:cover;">
                              <span class="card-title"><strong>Fiberglass Repair</strong></span>
                          </div>
                          <div class="card-content">
                            <p>Hit the dock or scrape an oyster bed? No worries, our team of professionals will be able to get you back on the water before you know it. With over ten years of experience in fiberglass repair, IslandShine will repair the damage without you even noticing it was there.</p>

                          </div>
                      </div>
                  </div>
  
                  <div class="col s12 m4">
                      <div class="card">
                          <div class="card-image">
                              <img src="public/images/grady2.JPG" style="height: 200px; object-fit:cover;">
                              <span class="card-title"><strong>Detailing</strong></span>
                          </div>
                          <div class="card-content">
                              <p>Our team of profesionals are trained to use rubbing compound, wax, and ceramic coating in order to bring that shine back into your paint job. No matter the feat, we can bring the color back into your boat. </p>
                          </div>
                      </div>
                  </div>
  
                  <div class="col s12 m4">
                    <div class="card" style="border-style: solid; border-color: #0D7CB3;">
                          <div class="card-image">
                              <img src="public/images/shine.jpg" style="height: 200px; object-fit:cover;">
                              <span class="card-title"><strong>Woodwork </strong></span>
                          </div>
                          <div class="card-content">
                              <p>Our team of profesionals have over three decades of experince with woodworking. We are compentent with all kinds of varnishes and different types of wood. From small undertakings to multimillion dollar yachts, IslandShine will deliver the best finish for the best price.   
  
                                  </p>
                          </div>
                      </div>
                  </div>
              </div>
  
            
          </div>
      </div>


        </div>
      </div>


      <div class="container" style="padding-top:4em;">
        <h3 style="text-align: center;">Testimonials</h3>
        <h5 style="text-align: center;">Hear what our valued clients have to say: </h5>
        <hr>
        </div>

    <div class="container" style="padding-bottom: 4em;">
      <ul class="collection">
        <li class="collection-item avatar">
            <i class="large material-icons circle" style="background-color: #88C0C5;">chat</i>
          <span class="title">Scott - Blue Horizons</span>
          <p style="color:#E7B84D;">After being neglected for years, Fletcher and his skilled woodworking team was able to bring back the shine on all of the railings and interior woodwork on my 70' Hatteras. I highly recommend IslandShine!   
          </p>
          <a href="#!" class="secondary-content"><i class="material-icons" style="color:#0D7CB3;">grade</i></a>
        </li>
        <li class="collection-item avatar">
            <i class="material-icons circle" style="background-color: #E7B84D;">chat</i>
          <span class="title">John Doe</span>
          <p style="color:#88C0C5;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec ante convallis, ornare metus pulvinar, congue est. Suspendisse eget faucibus nisl. 
          </p>
          <a href="#!" class="secondary-content"><i class="material-icons" style="color:#0D7CB3;">grade</i></a>
        </li>
        <li class="collection-item avatar">
            <i class="large material-icons circle" style="background-color: #88C0C5;">chat</i>
          <span class="title">Jane Doe</span>
          <p style="color:#E7B84D;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec ante convallis, ornare metus pulvinar, congue est. Suspendisse eget faucibus nisl. 
          </p>
          <a href="#!" class="secondary-content"><i class="material-icons" style="color:#0D7CB3;">grade</i></a>
        </li>
        <li class="collection-item avatar">
            <i class="material-icons circle" style="background-color: #E7B84D;">chat</i>
          <span class="title">Jane Doe</span>
          <p style="color:#88C0C5;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec ante convallis, ornare metus pulvinar, congue est. Suspendisse eget faucibus nisl. 
          </p>
          <a href="#!" class="secondary-content"><i class="material-icons" style="color:#0D7CB3;">grade</i></a>
        </li>
      </ul>     
      </div>


      
</body>
<%- include('partials/footer'); %>

</html>