<!DOCTYPE html>
<html>
<%- include('partials/header'); %>
<%- include('partials/navigation'); %>

<body>
     <div id="intro-container" style="margin-bottom:20px; height:20em; background-image:url(public/images/landing1.jpg)">
        <div class="container" style="margin-top: -5px !important;">
            <p style="text-align: center; font-size: 4em; padding-top:1.5em;position: absolute; width: 65%;">Our Portfolio</p>
            <div class="row center" style="padding-top:18em;">
            </div>
           </div>
    </div>

    <div class="container" style="padding-top:2em;">
              <h3 style="text-align: center;">Our Portfolio</h3>
              <h4 style="text-align: center;">Below are some of the many projects that have been completed on the water. </h3>
              <hr>

              <div class="row">
                  <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                          <img class="activator" src="public/images/floor20.jpg">
                        </div>
                        <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4">95' Burger<i class="material-icons right">more_vert</i></span>
                        </div>
                        <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">95' Burger<i class="material-icons right">close</i></span>
                          <p style="color:#0D7CB3;">We completely stripped all existing varnish off this yacht, and sanded down the teak to achieve the best consistency. We then applied industry leading varnish and gloss to give it an amazing finish.  </p>
                        </div>
                      </div>
                  </div>

                  <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                          <img class="activator" style="height:230px;"src="public/images/boat-30.jpg">
                        </div>
                        <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4">Steel Hull Yacht 65' <i class="material-icons right">more_vert</i></span>
                        </div>
                        <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">Steel Hull Yacht 65'<i class="material-icons right">close</i></span>
                          <p style="color:#0D7CB3;">Despite the underside being largely steel, we were able to refinish up all of the woodwork on this 65' tank of a boat. We sanded down all the old varnish, and applied our industry leading varnish to shine up this boat. </p>
                        </div>
                      </div>
                  </div>

                  <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                          <img class="activator" style="height:230px;" src="public/images/wheelhouse.jpg">
                        </div>
                        <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4">22' Chris Craft<i class="material-icons right">more_vert</i></span>
                        </div>
                        <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">22' Chris Craft<i class="material-icons right">close</i></span>
                          <p style="color:#0D7CB3;">We completely redid this classic wooden boat. We repainted all the sides and the interior of the boat, in addition to varnishing all the woodwork inside and out. </p>
                        </div>
                      </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                          <img class="activator" style="height:230px;" src="public/images/inside-8.jpg">
                        </div>
                        <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4">53' Hatteras<i class="material-icons right">more_vert</i></span>
                        </div>
                        <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">53' Hatteras <i class="material-icons right">close</i></span>
                          <p style="color:#0D7CB3;">We went through this entire 53' Hatteras, and stripped all varnish off of the interior. We then rebuilt up the varnish to bring back that classic shine that originally covered the entire inside.</p>
                        </div>
                      </div>
                  </div>
                  <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                          <img class="activator" style="height:230px;" src="public/images/blue.jpg">
                        </div>
                        <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4">70' Hatteras <i class="material-icons right">more_vert</i></span>
                        </div>
                        <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">70' Hatteras<i class="material-icons right">close</i></span>
                          <p style="color:#0D7CB3;">We redid every single inch of this boat's woodwork. Werevarnished all the railings, and all of the interior woodwork. Even though it was a very long project, the result was nothing short from extrodinary. </p>
                        </div>
                      </div>
                  </div>

                  <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                          <img class="activator"  style="height:230px;"src="public/images/sb.jpg">
                        </div>
                        <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4">39' Oceanrunner<i class="material-icons right">more_vert</i></span>
                        </div>
                        <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">39' Oceanrunner <i class="material-icons right">close</i></span>
                          <p style="color:#0D7CB3;">We hopped on this boat and the teak was completely faded and already at the end of it's life. We sanded, re-stained, and polished all of the wood on the chairs, and redid the teak accents that spanned inside and outside of the boat.</p>
                        </div>
                      </div>
                  </div>
            
  
          </div>
      </div>


        </div>
      </div>


      <div class="container" style="padding-top:4em;">
        <h3 style="text-align: center;">Testimonials</h3>
        <h4 style="text-align: center;">Hear what our valued clients have to say: </h4>
        <hr>
        </div>

    <div class="container" style="padding-bottom: 4em;">
      <ul class="collection">
        <li class="collection-item avatar">
            <i class="large material-icons circle" style="background-color: #0D7CB3;">chat</i>
          <span class="title">John Doe</span>
          <p style="color:#0E9EA8ff;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec ante convallis, ornare metus pulvinar, congue est. Suspendisse eget faucibus nisl. 
          </p>
          <a href="#!" class="secondary-content"><i class="material-icons" style="color:#0D7CB3;">grade</i></a>
        </li>
        <li class="collection-item avatar">
            <i class="material-icons circle" style="background-color: #0D7CB3;">chat</i>
          <span class="title">John Doe</span>
          <p style="color:#0E9EA8ff;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec ante convallis, ornare metus pulvinar, congue est. Suspendisse eget faucibus nisl. 
          </p>
          <a href="#!" class="secondary-content"><i class="material-icons" style="color:#0D7CB3;">grade</i></a>
        </li>
        <li class="collection-item avatar">
            <i class="material-icons circle blue">chat</i>
          <span class="title">Jane Doe</span>
          <p style="color:#0E9EA8ff;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec ante convallis, ornare metus pulvinar, congue est. Suspendisse eget faucibus nisl. 
          </p>
          <a href="#!" class="secondary-content"><i class="material-icons" style="color:#0D7CB3;">grade</i></a>
        </li>
        <li class="collection-item avatar">
            <i class="material-icons circle" style="background-color: #0D7CB3;">chat</i>
          <span class="title">Jane Doe</span>
          <p style="color:#0E9EA8ff;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec ante convallis, ornare metus pulvinar, congue est. Suspendisse eget faucibus nisl. 
          </p>
          <a href="#!" class="secondary-content"><i class="material-icons" style="color:#0D7CB3;">grade</i></a>
        </li>
      </ul>     
      </div>


      
</body>
<%- include('partials/footer'); %>

</html>