<!DOCTYPE html>
<html>
<%- include('partials/header'); %>
<%- include('partials/navigation'); %>

<body>
     <div id="intro-container" style="margin-bottom:20px; height:20em; background-image:url(public/images/landing1.jpg)">
        <div class="container" style="margin-top: -5px !important;">
            <p style="text-align: center; font-size: 4em; padding-top:1.5em;position: absolute; width: 65%;">Our Portfolio</p>
            <div class="row center" style="padding-top:18em;">
            </div>
           </div>
    </div>

    <div class="container" style="padding-top:2em;">
              <h3 style="text-align: center;">Our Portfolio</h3>
              <h4 style="text-align: center;">Below are some of the many projects that have been completed on the water. </h3>
              <hr>

              <div class="row">
                  <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                          <img class="activator" src="public/images/drystack.JPG">
                        </div>
                        <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4">Freeman 37VH<i class="material-icons right">more_vert</i></span>
                        </div>
                        <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">Freeman 37VH<i class="material-icons right">close</i></span>
                          <p style="color:#0D7CB3;">We serviced all [300 HP] Yamahas, painted three coats of bottom paint on the boat, and rewired the new JL audio sound system.</p>
                        </div>
                      </div>
                  </div>

                  <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                          <img class="activator" style="height:230px;"src="public/images/paint.jpg">
                        </div>
                        <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4">21' Mako<i class="material-icons right">more_vert</i></span>
                        </div>
                        <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">21' Mako<i class="material-icons right">close</i></span>
                          <p style="color:#0D7CB3;">We painted the topside of the boat a Bilgekote white, and rolled on deep-sea blue bottom paint to give this classic boat a makeover. </p>
                        </div>
                      </div>
                  </div>

                  <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                          <img class="activator" style="height:230px;" src="public/images/cobia.jpg">
                        </div>
                        <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4">22' Cobia<i class="material-icons right">more_vert</i></span>
                        </div>
                        <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">22' Cobia<i class="material-icons right">close</i></span>
                          <p style="color:#0D7CB3;">We repainted the bottom of the boat white, and installed trim tabs and spreader lights on the tea top. We also detailed the boat extenbsively, giving a professional coat of wax that should protect the boat from the elements for the next two seasons.</p>
                        </div>
                      </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                          <img class="activator" style="height:230px;" src="public/images/viking.jpg">
                        </div>
                        <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4">63' Viking<i class="material-icons right">more_vert</i></span>
                        </div>
                        <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">63' Viking <i class="material-icons right">close</i></span>
                          <p style="color:#0D7CB3;">We polished all stainless steel on the tuna tower on this 63' viking, and buffered and waxed the boat to ensure that the Carolina Flare would continue to have that sparkle.blu</p>
                        </div>
                      </div>
                  </div>
                  <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                          <img class="activator" style="height:230px;" src="public/images/blue.jpg">
                        </div>
                        <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4">70' Hatteras <i class="material-icons right">more_vert</i></span>
                        </div>
                        <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">70' Hatteras<i class="material-icons right">close</i></span>
                          <p style="color:#0D7CB3;">We completely overhauled the entire engine room in this yacht. We repainted both 600hp detriot diesels, reattached bonding wires, serviced all engines, redid wiring in the helm, replaced sea strainers / seacocks, and hours of fiberglass work.</p>
                        </div>
                      </div>
                  </div>

                  <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                          <img class="activator"  style="height:230px;"src="public/images/sb.jpg">
                        </div>
                        <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4">39' Oceanrunner<i class="material-icons right">more_vert</i></span>
                        </div>
                        <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">39' Oceanrunner <i class="material-icons right">close</i></span>
                          <p style="color:#0D7CB3;">We hopped on this boat and the teak was completely faded and already at the end of it's life. We sanded, re-stained, and polished all of the wood on the chairs, and redid the teak accents that spanned inside and outside of the boat.</p>
                        </div>
                      </div>
                  </div>
            
  
          </div>
      </div>


        </div>
      </div>


      <div class="container" style="padding-top:4em;">
        <h3 style="text-align: center;">Testimonials</h3>
        <h4 style="text-align: center;">Hear what our valued clients have to say: </h4>
        <hr>
        </div>

    <div class="container" style="padding-bottom: 4em;">
      <ul class="collection">
        <li class="collection-item avatar">
            <i class="large material-icons circle" style="background-color: #0D7CB3;">chat</i>
          <span class="title">John Doe</span>
          <p style="color:#0E9EA8ff;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec ante convallis, ornare metus pulvinar, congue est. Suspendisse eget faucibus nisl. 
          </p>
          <a href="#!" class="secondary-content"><i class="material-icons" style="color:#0D7CB3;">grade</i></a>
        </li>
        <li class="collection-item avatar">
            <i class="material-icons circle" style="background-color: #0D7CB3;">chat</i>
          <span class="title">John Doe</span>
          <p style="color:#0E9EA8ff;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec ante convallis, ornare metus pulvinar, congue est. Suspendisse eget faucibus nisl. 
          </p>
          <a href="#!" class="secondary-content"><i class="material-icons" style="color:#0D7CB3;">grade</i></a>
        </li>
        <li class="collection-item avatar">
            <i class="material-icons circle blue">chat</i>
          <span class="title">Jane Doe</span>
          <p style="color:#0E9EA8ff;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec ante convallis, ornare metus pulvinar, congue est. Suspendisse eget faucibus nisl. 
          </p>
          <a href="#!" class="secondary-content"><i class="material-icons" style="color:#0D7CB3;">grade</i></a>
        </li>
        <li class="collection-item avatar">
            <i class="material-icons circle" style="background-color: #0D7CB3;">chat</i>
          <span class="title">Jane Doe</span>
          <p style="color:#0E9EA8ff;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec ante convallis, ornare metus pulvinar, congue est. Suspendisse eget faucibus nisl. 
          </p>
          <a href="#!" class="secondary-content"><i class="material-icons" style="color:#0D7CB3;">grade</i></a>
        </li>
      </ul>     
      </div>


      
</body>
<%- include('partials/footer'); %>

</html>