body {
    background-color: #fff;
}

nav {
    padding: 0 !important;
    background-color: #001;
    background-size: auto;
    height: 100px;
}

nav ul li a {
    font-size: 14px;
}

nav .nav-items {
    margin-top: 17px !important;
}

.logo_svg {
    margin-top: -2.5px !important;
    width: 300px !important;
    height: 100px !important;
}

#intro-container {
    width: 100%;
    height: 50em;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* .picture-bg {
    margin-right: none !important;
    color: white;
    text-align: center;
} */

h1 {
    color: #FFF;
    font-size:45px;
}

h3 {
    color: #000;
}
h4 {
    color: #0D7CB3;
}
p {
    color: #FFF;
}

.btn-large {
    background-color: #0D7CB3 !important;
  }

  .btn-floating {
    background-color: #0D7CB3  !important;
  }
  
  .page-footer {
      background-color: #000;
  }

  blockquote {
    border-left: 5px solid #0D7CB3;
  }